/* التأكد من تنسيق الصفحة بشكل جيد */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0b330; /* اللون الخلفي */
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-size: 70px;
  font-weight: bold;
  color: #1A237E;
  margin-top: 40px;
  margin-bottom: 50px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardButton {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
  color: #1A237E;
  border: none;
  cursor: pointer;
  width: 100%;
}

.cardButton:hover {
  background-color: #1A237E;
  color: white;
}

.azkar {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  text-align: right;
  line-height: 28px;
  writing-direction: rtl;
}

const styles = StyleSheet.create({
  // الأنماط الأخرى تبقى كما هي
  signature: {
    textAlign: 'center', // لتوسيط النص
    fontSize: 14,        // تحديد حجم الخط
    marginTop: 20,       // مسافة من النص
    color: '##323976',       // اللون الرمادي للتوقيع
  },
  // باقي الأنماط الأخرى
});

