/* التأكد من تنسيق الصفحة بشكل جيد */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0b330; /* اللون الخلفي */
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-size: 70px;
  font-weight: bold;
  color: #1A237E;
  margin-top: 40px;
  margin-bottom: 50px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardButton {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
  color: #1A237E;
  border: none;
  cursor: pointer;
  width: 100%;
}

.cardButton:hover {
  background-color: #1A237E;
  color: white;
}

.azkar {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  text-align: right;
  line-height: 28px;
  writing-direction: rtl;
}

.signature {
    font-size: 14px;
    font-weight: bold;
    color: #323976;
     margin-top: 30px;
    textAlign: 'center', // لتوسيط النص
  }

  #surahText {
  line-height: 3.3; /* زيادة المسافة بين الأسطر */
  font-size: 18px;  /* تعديل حجم الخط إذا لزم الأمر */
  text-align: right; /* محاذاة النص لليمين */
  direction: rtl;   /* الكتابة من اليمين لليسار */
  margin-top: 20px; /* مسافة بين النصوص */
  }

.bismillah {
  font-size: 30px; /* أو أي حجم تفضله */
  text-align: center;
  font-weight: bold;
  color: #1A237E; /* اللون الذي تفضله */
  margin-bottom: 20px;
},
  // باقي الأنماط الأخرى
});
